.gradle
build/
generated/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/generated/
.kotlin
.claude
CLAUDE.md

### IntelliJ IDEA ###
.idea/*
!.idea/icon.svg
!.idea/copyright/
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/sonarlint.xml
!readme/
*.iws
*.iml
*.ipr
/out/
!**/src/main/**/out/
!**/src/test/**/out/
test-output/
atlassian-ide-plugin.xml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
